funnel-diagnostics-agent.json
{
  "name": "Funnel Diagnostics Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "funnel-diagnosis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "funnel-diagnosis"
    },
    {
      "parameters": {
        "jsCode": "// Normalize either input mode into a common shape the agents can reason over.\nconst body = $json.body ?? $json;\nconst mode = body.mode;\nconst context = body.context || '';\n\nlet findings;\nif (mode === 'order_level') {\n  const stats = (body.stats || {}).core_stats || {};\n  const cliff = (body.stats || {}).cliff || null;\n  findings = {\n    headline_metric: 'repeat purchase rate',\n    your_value: stats.repeat_rate_pct,\n    supporting: {\n      total_customers: stats.total_customers,\n      median_days_to_second_order: stats.median_days_to_second_order,\n      m1_m2_cliff: cliff,\n      discount_dependency: stats.discount_dependency || null,\n      channel_repeat_rate: stats.channel_repeat_rate || null,\n      category_mix: stats.category_mix || null\n    }\n  };\n} else {\n  findings = {\n    headline_metric: 'flagged funnel metric changes',\n    findings: (body.stats || {}).findings || []\n  };\n}\n\nreturn [{ json: { mode: mode || 'metrics_snapshot', findings, context } }];"
      },
      "id": "2",
      "name": "Normalize Findings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "0",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [440, 560],
      "credentials": {
        "groqApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.findings) }}",
        "options": {
          "systemMessage": "You are a senior growth analyst. You will receive computed stats — either D2C order/retention cohort data, or a list of flagged funnel metric changes. Identify the SINGLE most important pattern or leak, and 2-3 supporting observations. Be specific and quantified using only the numbers given, no generic language, no invented figures. Output plain text, not JSON."
        }
      },
      "id": "3",
      "name": "Data Interpreter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [440, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Findings:\n{{ $('Data Interpreter').first().json.output }}\n\nAdditional context from the team about this period:\n{{ $('Normalize Findings').first().json.context }}",
        "options": {
          "systemMessage": "You are a root-cause analyst. Given the findings and any team-provided context about releases or campaigns, generate 3-5 grounded hypotheses for why this happened. Be specific, not generic. Clearly label each hypothesis with what it relates to."
        }
      },
      "id": "4",
      "name": "Root Cause Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [660, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Root Cause Analyst').first().json.output }}",
        "options": {
          "systemMessage": "You are a growth PM. Score each hypothesis on Impact (1-5) and Confidence (1-5), briefly justify each score in one sentence, and rank all hypotheses from highest to lowest priority using Impact x Confidence."
        }
      },
      "id": "5",
      "name": "Prioritization",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [880, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ranked hypotheses:\n{{ $('Prioritization').first().json.output }}\n\nAnalysis mode: {{ $('Normalize Findings').first().json.mode }}",
        "options": {
          "systemMessage": "You are a product/growth PM designing interventions. Take the top 3 ranked hypotheses and turn each into ONE concrete recommended action, ranked by impact. If analysis mode is 'order_level' (retention/lifecycle data), frame each as a lifecycle marketing play: target segment, trigger event, channel (WhatsApp, email, push, SMS), and a sample message under 25 words. If analysis mode is 'metrics_snapshot' (general funnel data), frame each as a product experiment: target segment, trigger/rationale, delivery surface or channel, and the specific success metric plus test duration instead of a sample message. Always produce exactly 3 items, each with a one-line estimated impact."
        }
      },
      "id": "6",
      "name": "Play Designer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=FINDINGS:\n{{ $('Data Interpreter').first().json.output }}\n\nRAW DATA (for exact numbers):\n{{ JSON.stringify($('Normalize Findings').first().json.findings) }}\n\nRANKED HYPOTHESES:\n{{ $('Prioritization').first().json.output }}\n\nRECOMMENDED PLAYS:\n{{ $('Play Designer').first().json.output }}",
        "options": {
          "systemMessage": "You are compiling a final structured diagnosis. Respond with ONLY valid JSON, no markdown fences, no preamble, matching exactly this schema:\n{\n  \"verdict_headline\": \"string, one sentence, the core diagnosis\",\n  \"diagnosis_detail\": \"string, 2-3 sentences with supporting numbers\",\n  \"benchmark\": {\"metric_label\": \"string, name of the headline metric\", \"your_value\": number, \"category_benchmark\": number, \"best_in_class\": number},\n  \"plays\": [\n    {\"rank\": \"Play 1 . Highest impact\", \"title\": \"string\", \"estimated_impact\": \"string\", \"segment\": \"string\", \"trigger\": \"string\", \"channel\": \"string\", \"sample_message\": \"string\"},\n    {\"rank\": \"Play 2 . Medium impact\", \"title\": \"string\", \"estimated_impact\": \"string\", \"segment\": \"string\", \"trigger\": \"string\", \"channel\": \"string\", \"sample_message\": \"string\"},\n    {\"rank\": \"Play 3 . Structural\", \"title\": \"string\", \"estimated_impact\": \"string\", \"segment\": \"string\", \"trigger\": \"string\", \"channel\": \"string\", \"sample_message\": \"string\"}\n  ]\n}\nFor 'your_value' use the EXACT number from the raw data provided, do not alter it. For 'category_benchmark' and 'best_in_class', give a reasonable industry-standard estimate for this type of metric, stated as your best assumption. For 'plays', reformat the three recommended plays into the schema fields exactly — put the sample message or success-metric detail in 'sample_message' regardless of which mode this is."
        }
      },
      "id": "7",
      "name": "Compiler",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse the Compiler agent's JSON output and build a styled HTML report for PDF conversion.\nlet raw = $json.output;\nlet diag;\ntry {\n  diag = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  diag = {\n    verdict_headline: 'Could not parse diagnosis',\n    diagnosis_detail: String(raw).slice(0, 800),\n    benchmark: {},\n    plays: []\n  };\n}\n\nconst b = diag.benchmark || {};\nconst playsHtml = (diag.plays || []).map(p => `\n  <div class=\"play\">\n    <div class=\"play-rank\">${p.rank || ''}</div>\n    <h3>${p.title || ''}</h3>\n    <p class=\"impact\">${p.estimated_impact || ''}</p>\n    <p><b>Segment:</b> ${p.segment || ''}<br/><b>Trigger:</b> ${p.trigger || ''}<br/><b>Channel:</b> ${p.channel || ''}</p>\n    <div class=\"msg\">${p.sample_message || ''}</div>\n  </div>\n`).join('');\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><style>\nbody{font-family:Arial,sans-serif;max-width:800px;margin:40px auto;color:#1a1a1a;line-height:1.5;}\nh1{font-size:24px;border-bottom:2px solid #333;padding-bottom:8px;}\nh2{font-size:19px;margin-top:28px;color:#222;}\nh3{font-size:15px;margin:6px 0;color:#222;}\n.verdict{border-left:4px solid #C24632;padding:10px 16px;background:#faf7f6;margin:12px 0;}\n.bench{margin:12px 0;font-size:13px;color:#444;}\n.play{border:1px solid #ddd;border-radius:6px;padding:14px 16px;margin-bottom:12px;}\n.play-rank{font-size:10.5px;letter-spacing:.08em;text-transform:uppercase;color:#666;}\n.impact{font-size:12px;color:#2E7D6B;font-weight:600;margin:4px 0;}\n.msg{background:#f1f4f2;border-left:3px solid #2E7D6B;padding:8px 12px;font-size:12.5px;margin-top:8px;}\np{margin:6px 0;font-size:13.5px;}\n</style></head><body>\n<p style=\"color:#666;font-size:12px;\">Funnel Diagnostics — generated ${new Date().toISOString().split('T')[0]}</p>\n<h1>${diag.verdict_headline || 'Diagnosis'}</h1>\n<div class=\"verdict\"><p>${diag.diagnosis_detail || ''}</p></div>\n<h2>Benchmark</h2>\n<div class=\"bench\">${b.metric_label || 'Metric'}: your value ${b.your_value ?? 'n/a'} · category benchmark ${b.category_benchmark ?? 'n/a'} · best-in-class ${b.best_in_class ?? 'n/a'}</div>\n<h2>Recommended plays</h2>\n${playsHtml}\n</body></html>`;\n\nreturn [{ json: { diagnosis: diag, html } }];"
      },
      "id": "8",
      "name": "Format Report HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/from/html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.html, name: \"funnel-diagnostics-report.pdf\", async: false }) }}",
        "options": {}
      },
      "id": "9",
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "PDF.co API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Recombine the parsed diagnosis (from before the PDF call) with the PDF.co response.\nconst diagnosis = $('Format Report HTML').first().json.diagnosis;\nconst pdfUrl = $json.url || ($json.body ? $json.body.url : null) || null;\n\nreturn [{ json: { diagnosis, pdf_url: pdfUrl } }];"
      },
      "id": "10",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "11",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalize Findings", "type": "main", "index": 0 }]]
    },
    "Normalize Findings": {
      "main": [[{ "node": "Data Interpreter", "type": "main", "index": 0 }]]
    },
    "Groq Chat Model": {
      "ai_languageModel": [[
        { "node": "Data Interpreter", "type": "ai_languageModel", "index": 0 },
        { "node": "Root Cause Analyst", "type": "ai_languageModel", "index": 0 },
        { "node": "Prioritization", "type": "ai_languageModel", "index": 0 },
        { "node": "Play Designer", "type": "ai_languageModel", "index": 0 },
        { "node": "Compiler", "type": "ai_languageModel", "index": 0 }
      ]]
    },
    "Data Interpreter": {
      "main": [[{ "node": "Root Cause Analyst", "type": "main", "index": 0 }]]
    },
    "Root Cause Analyst": {
      "main": [[{ "node": "Prioritization", "type": "main", "index": 0 }]]
    },
    "Prioritization": {
      "main": [[{ "node": "Play Designer", "type": "main", "index": 0 }]]
    },
    "Play Designer": {
      "main": [[{ "node": "Compiler", "type": "main", "index": 0 }]]
    },
    "Compiler": {
      "main": [[{ "node": "Format Report HTML", "type": "main", "index": 0 }]]
    },
    "Format Report HTML": {
      "main": [[{ "node": "Generate PDF", "type": "main", "index": 0 }]]
    },
    "Generate PDF": {
      "main": [[{ "node": "Prepare Response", "type": "main", "index": 0 }]]
    },
    "Prepare Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "funnel-diagnostics-agent"
  }
}
